body {
  background: #fcf1f1;
  color: #575F7D;
  font-family: Textura;
  font-size: 16px;
  font-weight: lighter;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #6A2C70;
  font-family: Textura, serif;
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 30px;
  text-align: center;
}

p {
  text-align: center;
}

h2 {
  color: #495464;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

ul {
  text-align: center;
}

img{
  height: 320px;
  width: 260px;
  border-radius: 600px;
}
a{
  padding : 30px;
  height: 30px;
  text-decoration: none;
  color: grey;
}
a:hover{
  color: purple;
}


.container{
  margin:20px auto;
  width : 700px;
}

.white-card{
  border: 10px 20px;
  background-color: grey;
  padding:10px;
  margin:30px 0px;
  text-align: center;
  box-shadow: 3px 5px 10px;
  border-radius: 4px;
  }


ul{
  list-style: none;
  padding: 0px;
}

div {
background: white;
padding: 60px;
margin: 50px;
box-shadow: 0px 10px 30 px rgba (0,0,0,1)
